.Jobs {
  &__maincontainer {
    display: flex;
    justify-content: center;
  }

  &__topHeader {
    border: 1px solid #817b7b;
  }

  &__gridcontainer {
    min-width: 1170px;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 45px;
    grid-gap: 10px;
  }

  &__flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__serialNumber {
    text-align: initial;
    padding: 10px;
    // margin: auto;
  }

  &__subcontainer {
    display: flex;
  }
}


